summary:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.card{
    box-shadow: 2px 4px #b9b8b8;
    border-radius: 2px;
}
.card-body{
    background-color: #eee;
    
}
blockquote{
    border-left: none;
}
.card-footer{
    padding: 1.5%;
    background-color: #fff;
}